*
{
    margin:0;
    padding: 0;
    /* overflow:hidden; */
   
}
*::-webkit-scrollbar
{
  /* overflow: hidden; */
  scrollbar-width: none;
  display:none;
}

.ApplyForm{

    display: flex;
    flex-direction: column;
    margin:0 auto;
    align-items: center;
    width:100%;
    /* background-color:white; */
    z-index: -2;
    height:calc( 100vh - 64px);
    top:0;
  overflow-y: auto;
    
}
.FormPanel 
{
       background-image: linear-gradient(315deg, #0059ff 0%, #7ee8fa 74%);
      top:0;
}
.Test
{
  width:max-content;
  height:50px;
  margin-top: 10px;
}
.form-control
{
    background-color: transparent;
    border-color:white;
    color:blue;
   
}
.form-control::placeholder
{
    color:rgb(0, 0, 255);
}


.Logo
{
        

        object-fit: cover;
        position: absolute;
        max-width: 150px;
        max-height: 150px;
        /* padding-top:130px; */
        padding-right: 200px;
        top:0;
        height: fit-content;
        justify-content: center;
        align-items: center;
}
.FormPanel
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 25%;
  
  margin-top:10px;
  /* height: max-content; */
  /* width:25%; */
  padding:10px;
 
  background-color: transparent;
  /* padding-top: 100px; */
  box-shadow:3px 3px 3px 3px rgb(0, 0, 0);
  background-color:white;

}


.FormPanel2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    
    margin-top:10px;
    padding:10px;
   
    background-color: transparent;
    box-shadow:3px 3px 3px 3px rgb(0, 0, 0);
    background-color:white;

}
.FormPanel2
{
        height: 75vh;
        justify-content: space-around;

      background-image: linear-gradient(315deg, #1fd1f9 40%, #2167fe 74%);

}
.form-profile
{
    align-items: center;
    border: 2px solid yellow;
    padding:20px;
    text-align:center;
    background-color:yellow;
    
}
.titleForm
{
    font-family: "Josefin Sans";
    background-color: rgb(61, 67, 255);
    color:white;
    /* padding: 5px; */
    /* align-items: center; */
    justify-content: center;
    font-weight: bold;
    display:flex;

}


.HomeLogin{

    display: flex;
    flex-direction: column;
    margin:0 auto;
    align-items: center;
    width:100%;
    background-image: linear-gradient(215deg, #045de9 10%, #09c6f9 80%);
    background-repeat: repeat-y;
    z-index: -2;
    height:calc( 100vh - 64px);
    
   
    
}
.HomeLogin2{

  display: flex;
  flex-direction: column;
  margin:0 auto;
  align-items: center;
  width:100%;
  background-image: linear-gradient(215deg, #045de9 10%, #09c6f9 80%);
  background-repeat: repeat-y;
  z-index: -2;
  height:max-content;
  
 
  
}
.Logo:hover
{
    transform: scale(1.145);
}

.midPanel
{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    align-items: center;
    z-index: 2;
    width: 40%;
    margin-top:10px;
    height: max-content;
    width:20%;
    padding:10px;
   
    /* background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%); */
    /* padding-top: 100px; */
    box-shadow:3px 5px 5px 3px rgb(0, 0, 0);

}

.Row1
{
    font-family: verdana, arial, helvetica;
    color:rgb(0, 0, 0);    
    /* opacity:1;
     */
}

.Row2
{
    padding-top:10px;
    padding-bottom:10px;
}

.Row3   
{
    padding-top:10px;
    padding-bottom:10px;
}
.button-74,.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #48ff00;
  box-shadow: #14ebff 0 -6px 8px inset;
  transform: scale(1.125);
  color:white;
}   

.button-74:hover {
    background-color: #ff0000;
    box-shadow: #ffef0c 0 -6px 8px inset;
    transform: scale(1.125);
    color:white;
}

  .button-74,.button-73:active {
  transform: scale(1.025);
}

@media (max-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
 

  .button-74
  {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

@media (min-width : 119px) and (max-width: 1080px){
  
  .FormPanel
  {
    width: 100%;
  }
  .FormPanel
  {
   height:max-content;
  }
}


.Apply
{
  padding-top:20px;
  cursor: pointer;
}

.Apply:hover
{ 
    /* font-size: 30px; */
    color:rgb(3, 3, 255);

}

.changeLcolor
{
  color:black;
  text-decoration: none;
}

a
{
  text-decoration:none;
  padding-top: 8px;
  background-color: transparent;
  color:black;
  margin:0px;

}
a:hover
{
  background-color:transparent !important;
  color:blue;
}




/* CSS */
.button-56 {
  align-items: center;
  background-color: #11fefe;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(0, 21, 255);
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 26px;
  height: 90px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 10px 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width:200px;
  font-weight: bold;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 96px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
    background-color:blue;
    color:white;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.ImageUpload {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    /* border: 2px solid blue; */
  }
  .ImageUpload:hover 
  {
        transform: scale(1.125);
  }

  .image-item {
    display: flex;
    margin: 10px 0;
    
  }
  .image-item__btn-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .ImageUpload button {
  background-color: transparent;
  border: none;
  }
  
  .hidden {
      display: none;
  }



  select:hover,input:hover
  {
    transform: scale(1.125);
    border:2px solid black;
  }

.Times
{
  width:max-content;
  /* height:max-content; */
}

.DesignPanel
{
  display: flex;
  flex-direction: column;
  background-color:white;
  width:max-content;
  height:max-content;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 30%;
  background-image: linear-gradient(215deg, #00eeff 20%, #0911f9 50%);
  font-weight: bold;
  border-top-right-radius: 50%;
  border-top-left-radius: 10pX;
  padding:20px;
  margin-top:10px;
}

.CProfileView
{
  display:flex;
  flex-direction: column;
  font-family: "cursive";
}

.CProfilePic
{
  display:flex;
  position:absolute;
  z-index: 2px;
  top:70px;
  left:53%;
   width:max-content;
  height:max-content;
  background-color:white;
  border-radius:50%;
  object-fit: cover;
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
  background-position:center;
  background-repeat:no-repeat;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
}

.midLine
{
  width:60%;
  margin-top:20px;
  align-items: center;
  display:flex;
  
  min-height: 5px;
  border-radius:30px;
  background-image: linear-gradient(215deg, #ffffff 5%, #ffffff 40%);
  z-index: 0px;
}

.ImageClient
{
  z-index: 20;
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
  border-radius: 30%;
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  -ms-border-radius: 30%;
  -o-border-radius: 30%;
}
.CProfileEmail
{
  padding-left: 10px;
}

.IconsDetails
{
  display:flex;
  flex-direction: column;
  padding-top: 50px;
  
}


.CoverAll
{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
  padding-bottom:20px;
  font-family: 'Times New Roman', Times, serif;
}

.IconsView
{
  padding-right: 50px;
}
.DetailView
{
  font-family:'Courier New', Courier, monospace;
  font-size: 17px;
  color:white;
}


.IconsView {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.IconsView .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color:  aquamarine;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  margin: 5px 5px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.IconsView:hover .tooltiptext {
  visibility: visible;
}


.navBar
{
  display : flex;
  flex-direction: column;

}



.HeaderLink
{
  /* border:1px solid blue; */
  color:white;
  padding:5px;
  padding-left:20px;
  padding-right:20px;
 

}
.HeaderLink:hover{
  background-color:white;
  color:black;
  padding-top:50px;
  padding-bottom:20px;
  overflow:hidden;
}

.btn:hover
{
  color:rgb(45, 45, 255);
  background-color:white;
  font-weight: bold;
}


.box{
  width:600px;
  height:550px;
  background-color: transparent;
  margin:auto;
  margin-top: 40px;
  border-radius: 5px;
  font-size:21px;
  color:blue;
  
}
.box .header{
  background-color: rgb(4, 0, 255);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.box .header p{
  text-align: center;
  padding:5px;
  font-size: 20px;
  color:#fff;
  font-family: sans-serif;
}
.AddEventF{
  display: flexbox;
  width:max-content;
  height:auto;
  margin:auto;
  padding:10px;
  border:2px solid white;
  background-image: linear-gradient(215deg, #0687ff 20%, #8affd0 50%);
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
}
.row{
  padding:8px;
  margin-top: 7px;
}
.row .col-2{
  text-align: center;
  width: max-content;
}
.row .col-4 input{
  background:transparent;
  width: 210%;
  border:2px solid white;
  outline:none;
  padding:3px;
  border-radius: 5px;
  font-size:20px;
  color:blue;
}
.row .col-8 input{
  background:transparent;
  width: 210%;
  border:2px solid white;
  outline:none;
  padding:3px;
  border-radius: 5px;
  width:385px;
  font-size:20px;
  color:blue;
}
.row .col-3 input{
  background:transparent;
  font-size:20px;
  padding:3px;
  border-radius: 5px;
  width:100px;
}
.row .col-5 input{
  background:transparent;
  font-size:20px;
  padding:3px;
  border-radius: 5px;
  width:247px;
}
.row .col-6 button{
  margin-left:50%;
  font-size:25px;
}
input.largerCheckbox {
  width: 20px;
  height: 20px;
}

.form-control {
	font-size: 15px;
}
 .input-group-text {
	/* border-color: transparent; */
  /* padding: 10px; */
  margin: 10px;
  background-image: linear-gradient(215deg, #0687ff 20%, #8affd0 50%);
  width: 50px;
  height: 50px;
}
.signup-form form input::placeholder {
  font-size:20px;
}
.signup-form {
	width: 400px;
	margin: 0 auto;
	padding: 30px 0;		
  font-size: 22px;
}
.signup-form {
	color: rgb(0, 0, 0);
	border-radius: 3px;
	margin-bottom: 15px;
	/* background: transparent; */
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form h2 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signup-form hr {
	margin: 0 -30px 20px;
  color:blue;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form label {
	font-weight: normal;
	font-size: 15px;
}
.signup-form .form-control {
	min-height: 38px;
	box-shadow: none !important;
}	
.signup-form .input-group-addon {
	max-width: 42px;
	text-align: center;
}	
.signup-form .btn, .signup-form .btn:active {        
	font-size: 20px;
	font-weight: bold;
	background: #2affd4 !important;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #214aff !important;
  color:white;
}
.signup-form a {
	color: #fff;	
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #0aff4f;
	text-decoration: none;
  font-size: 15px;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .fa {
	font-size: 30px;
}
.fa
{
  color: blue;

}

.CenterSi
{
  text-align: center;
}

.LargeText
{
  font-size: 20px;
}

.SelectUser
{
  background-color: transparent;
  color:blue;
  /* width:180px;   */
  font-size:20px;
  margin:10px;
  
}
.SelectUser::placeholder
{
  font-size:20px;
}

.SelectUser:active
{
  background-color: transparent;
  color:blue;
}


.SelectUser::after
{
  background-color: transparent;
  color:blue;
}

.EventPanelView
{
  display: flex;
  flex-wrap: wrap;    
  width: 100%;
  /* height:calc(100vh - 64px) */
}

.EventsPosts
{
  display: flex;
   flex-direction: column;
    cursor: pointer;
  border-radius:20px;
  flex: 1 0 35%; 
  margin: 5px;
  width:200px;
  height:max-content;
  object-fit: cover;
  overflow: hidden;
  
}

.EventTimings
{
  display: block;
 
  width:100%;
  height:max-content;
  font-size: 21px;
  color:white;
  margin: 5px;
  
  text-align: center;

}

.EventTitle
{
  display: flex;
  width: 100%;
  color:white;
  margin: 5px;
  text-align: center;
  display: block;
  width:100%;
 
}
 

.FixImgLen
{
  max-height: 200px;
}

.Eventtable
{
   /* border: 3px solid black; */
  border-collapse: collapse;
  color:white;
  font-size:25px;
  table-layout: fixed;
  text-align: center;
  overflow-x:auto;
  overflow-y:auto;
  border:none;
  outline:none ;
  
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 50%;

}      
td {
  background: #86dbd7;
  padding: 25px;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  border: solid 1px #666;
}
th {
  background: #86dbd7;
  padding: 25px;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  width: 100px;
  border: solid 1px #666;
}

.LogoUp
{
  overflow: hidden;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  /* border: solid 1px #666; */
  position: absolute;
  top: -10px;
  margin: 10px;
  /* margin-right: 300px; */
  left:-50px;
}

.LogoUp:hover
{
  width:100px; 
  height:100px;
}


body{

  background-image: linear-gradient(215deg, #00eeff 20%, #242bffc2 90%);
}

.rights
{
  padding:5px;
  margin: 10px;
  outline:none;
  background-color: transparent;
  border:3px solid #ccc;  ;
  color:white;
  padding-left:10px;
  padding-right:10px;
  font-weight:bold;
  display: inline;
  cursor: pointer;
}

.rights:hover
{
    background-color:white;
    color:blue;
    font-weight:bold;
}

.DeletePop
{
  background-color:rgb(119, 228, 255);
  display: flex;
  flex-direction: column;
  position: absolute;
  top:50%;
  /* margin: 10px; */
  padding: 20px;
}

.DeleteBtn
{
  width: 50%;
  padding:5px;
  background-color: transparent;
  outline:none;
  border: none;  
}
.DeleteBtn:hover
{
  background-color: rgba(0, 0, 255, 0.801);
  color: white;

}

.DeletePopB
{
  display:flex;
  flex-direction: row;
}

.Feed
{
  color: white!important;
}