html

{
    /* background-color: white;     */
  
    
    /* background-image: url("https://cdn.pixabay.com/photo/2021/03/10/06/24/wave-6083644_960_720.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
     */
     background-color:#181E31;


    }
 canvas
 {
     overflow: scroll;
     /* background-color: transparent; */
    /* background-image: url("https://cdn.pixabay.com/photo/2021/03/10/06/24/wave-6083644_960_720.png"); */
    background-color:#181E31;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
 }
 .scale-in-center {
    -webkit-animation: scale-in-center 1.5s cubic-bezier(0.250,
    0.460, 0.450, 0.940) 1s both;
    animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460,
    0.450, 0.940) 1s both;
}
#particles-js {
    background: radial-gradient(circle, rgba(193, 196, 209, 1) 0%,
    rgba(3, 3, 29, 1) 100%);
    height: 100vh;
}
